* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
html,
body {
  background: #000;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
button {
  background: rgb(189, 17, 46);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-family: cursive;
  z-index: 1;
  position: relative;
}
button:active {
  scale: 0.95;
}
