* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
html,
body {
  background: #000;
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
img{
  height: 400px;
  width: 250px;
  object-fit: cover;
  border-radius: 6px;
}
button{
  background: lawngreen;
  border-radius: 40px;
  padding: 10px  20px;
  font-size: larger;
  border: none;

}
button:active{
  scale: 0.95;
}